<form>
	<div ng-if="group_name_exists" style="color: red;"><h5>This group name already exists. Please try with different group name</h5></div>	
	<div ng-if="join" style="color: red;"><h5>Incorrect username/pin. Please try again</h5></div>	
  <div class="group">
    <input type="text" ng-model="group.group_name" placeholder="Enter group name"><span class="highlight"></span><span class="bar"></span>
  </div>
  <div class="group">
    <input type="password" ng-model="group.password" placeholder="Enter 4 digit pin"><span class="highlight"></span><span class="bar"></span>
  </div>
  <button type="button" class="button buttonBlue" ng-click="submit()">Submit
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>

